.dot{
	fill: #555555;
}

.x-rug{
	stroke: #777777;
	stroke-width: 2px;
}

.y-rug{
	stroke: #777777;
	stroke-width: 2px;
}

.axis path{
	fill: none; 
	stroke: none;
}

.axis line{
	fill: none; 
	stroke: #AAAAAA;
}

.axis text{
	fill: #222222; 
	font-size: 11px;
}