#notification {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.dot{
	fill: #333333;
}

.x-rug{
	stroke: #555555;
	stroke-width: 2px;
}

.y-rug{
	stroke: #555555;
	stroke-width: 2px;
}#notification {
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
}

.dot{
	fill: #333333;
}

.x-rug{
	stroke: #555555;
	stroke-width: 2px;
}

.y-rug{
	stroke: #555555;
	stroke-width: 2px;
}

.axis path{
	fill: none; 
	stroke: none; 
	shape-rendering: crispEdges
}

.axis line{
	fill: none; 
	stroke: #777777;
	shape-rendering: crispEdges;
}

.axis text{
	fill: #222222; 
	font-size: 11px;
}